@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700';

@font-face {
  font-family: 'Austin News Deck';
  src: url('../fonts/AustinNewsDeck-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AustinNewsDeck-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AustinNewsDeck-Italic.woff') format('woff');
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Austin News Deck';
  src: url('../fonts/AustinNewsDeck-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AustinNewsDeck-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AustinNewsDeck-Semibold.woff') format('woff');
       
  font-style:   normal;
  font-weight:  600;
}

  .products .product img {
    margin-bottom: 20px;
  }

body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

}

html {
    width: 100%;
    height: 100%;
}

header {
    margin:0 auto;
    margin-top:0;
    background-color: white;
    position: fixed;
    width:100%;
    height: 55px;
    z-index:9999;
}

header div.logo_area {
    position: absolute;
    left: 5px;
    z-index: 2;
    background-color: white;
    padding-right: 20px;
    height:55px;

}

header div.logo_area a {
    background-color: white;
    
}

header div.mit_area {
position: absolute;
    right: 20px;
    top: 16px;
    background-color: white;
    z-index: 2;
    padding: 0 16px;
}


header hr {
    position: absolute;
    z-index: 1;
    width: 100%;
    border:none;
    top: 8px;
    left: 0px;
    border-style: none none solid;
    border-bottom: 1px solid rgb(170, 170, 170);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: 'Austin News Deck', serif;
    font-size: 265px;
    font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1{
    text-align:center;
    margin: 0 0 25px;
    color: #333332;
    font-size: 46px;
    margin-bottom: 15px;
  text-rendering: optimizeLegibility;
}

h2{
    text-align:left;
    margin: 0 0 25px;
    color: #333332;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

h3{
    text-align:center;
    margin: 0 0 25px;
    color: #333332;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight:600;
}

.subtitle{
    text-align:center;
    font-family: 'Austin News Deck', serif;
    font-style: italic;
    font-weight: 400;
    color: #333332;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 70px;
      text-rendering: optimizeLegibility;
}

h5{
    text-align:left;
    font-size: 13px;
    color: #333332;
}

#text {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}
  

.bold {
    margin-top: 0px;
}

/*modified*/


.content-section {
    padding-top: 50px;
}

.photocontainer{
    display: flex;  
}

/*modified*/
.photo {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -ms-flex-direction: row;    
    -webkit-flex-direction: row
    flex-direction: row;

    -ms-flex-align-items: center;    
    -webkit-align-items: center;
    align-items: center;
    
    -ms-flex-justify-content: center;    
    -webkit-justify-content: center;
    justify-content: center;
    
    flex-wrap:wrap;   
    
    padding: 0px;
    margin: 0 auto;
}


.img-responsive {
     margin:10px;  
}

.imageAlign{
    margin-bottom: 30px;
}

.imageAlign1{
    margin-bottom:0px;
    padding-top: 10px;
}






/*gallery*/
.gallery_row {
    margin:20px 20px;
    margin-top: 45px;

}

.thumbnail {
    text-align:center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.mythumbnails {
    text-align:center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.proj_images{
  display: flex;    
}

.images{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.disp1,.disp2,.disp3,.disp4{
    margin:10px;
}


a {
    transition: 0.4s all;
}

a:hover {
    opacity:0.5;
    text-decoration: none;
}



/* */

.team-right {
    float:left;
    width:200px;
    color:#888888;
    padding:10px;
    margin-top: 50px;
}
.team-left {
    float:left;
    width:200px;
    color:#888888;
    padding:10px;
} 

.title {
    color: #444444; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.download {
    color: #444444; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid black;

}


.Press-under {
    color: #333332; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.Press-mid {
    color: #888888; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}




/*text*/

.annot{
    float:flex;
    text-align: left;
    margin: 0 0 25px;
    color: #333332;
    padding-left: 35px;
    max-width: 470px;
    font-size: 15px;
    padding-left: 35px;
    line-height: 143%;
}

/*modified*/
.left_photos .right-photos{ 
    justify-content:center;
    flex-wrap:wrap;
    margin: 0 auto;
}

.body-text-bold{
    /* vertical-align: text-top; */
    font-family: 'Austin News Deck', serif;
    font-weight: bold;
    /* text-align: center; */
    color: #333332;
    font-size: 19px;
    margin-top: 40px;
    /* padding-right: 20px; */
    /* line-height: 135%; */
}


.body-text-publication{
    text-align: left;
    margin: 0 0 25px;
    color: #888888;
    margin-bottom: 30px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 142%;
}

.body-text-release{
    text-align: left;
    margin: 0 0 25px;
    color: #515151;
    margin-bottom: 30px;
    padding-right: 20px;

    font-size: 15px;
    line-height: 142%;
}

.body-text-team{
    text-align: left;
    margin: 0 0 25px;
    color: #515151;
    font-size: 13px;
    margin-bottom: 60px;
}


/* centered columns styles */
.row-centered {
    text-align:center;
    padding-left: 13%;
    padding-right: 13%; 
}
.col-centered {
    /* display:inline-block; */
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    float:left;
    color:#fff;
    padding:10px;
}
.col-min {
    /* custom min width */
    float:left;
    color:#fff;
    padding:10px;
    min-width:300px;
}

.col-max {
    /* custom min width */
    min-width:400px;
}



.ital {
    font-style: italic;
}


ol {
    padding:0;
    margin-top:10px;
        margin-top: 15px;
    margin-left: 12px;
}

ol li {
    margin-bottom:5px;
}
#footer {
    height: 0px;
    background-color: #fff;
    bottom: 0;
    width: 100%;
}

.footer-section {
    background-color: #fff;
    margin:0 auto;
    border-top: 1px solid #c0c0c0;

}

.footer-section .fmi-area {
    float:right;
}

br.clearing {
    clear:both !important;
}

.footer-section p {
    margin-top: 10px;
    font-size: 14px;
    color: #b3b3b3;
}

.footer-section p a {
    color:#555;
    border-bottom:1px solid #777;
}

.footer-section p a:hover {
    border-bottom: 2px solid #777;
}


.diff_home_exposure {
    margin-right:105px;
}

.diff_day_night {
    margin-left:105px;
}

.english {
    /* font-family: 'IBM Plex Mono', monospace; */
    font-weight: 500;
    font-size: 15px;
    color: #505050;
    margin-top: 40px; 
    
}

.top2 {
    padding-top: 70px;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
        .diff_home_exposure {
        margin:0;
    }

    .diff_day_night {
        margin:0;
    }

}
@media (max-width: 768px) {
    .diff_home_exposure {
        margin:0;
    }

    .diff_day_night {
        margin:0;
    }

    .footer-section {
        margin-bottom: 150px;
    }
    .footer-section .fmi-area {
        float:none;
        margin-left: 40px;
    }
}


@-webkit-keyframes cf4FadeInOut {
    0% {
      opacity: 1;
    }

    17% {
      opacity: 1;
    }

    25% {
      opacity: 0;
    }

    92% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes cf4FadeInOut {
    0% {
      opacity: 1;
    }

    17% {
      opacity: 1;
    }

    25% {
      opacity: 0;
    }

    92% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes cf4FadeInOut {
    0% {
      opacity: 1;
    }

    17% {
      opacity: 1;
    }

    25% {
      opacity: 0;
    }

    92% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes cf4FadeInOut {
    0% {
      opacity: 1;
    }

    17% {
      opacity: 1;
    }

    25% {
      opacity: 0;
    }

    92% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  #cf4a {
    position: relative;
    height: 700px;
    width: 1200px;
    margin: 0 auto;
  }

  #cf4a img {
    position: absolute;
    left: 0;
  }

  #cf4a img {
    -webkit-animation-name: cf4FadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 7s;

    -moz-animation-name: cf4FadeInOut;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 7s;

    -o-animation-name: cf4FadeInOut;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 7s;

    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 7s;
  }


  #cf4a img:nth-of-type(1) {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
  }

  #cf4a img:nth-of-type(2) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
  }

  #cf4a img:nth-of-type(3) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
  }

  #cf4a img:nth-of-type(4) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
  }

  #cf4a img:nth-of-type(5) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
  }

  #cf4a img:nth-of-type(6) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0;
  }

  .bgfooter {
    background-color: white;
}

#footer {
    padding-top: 80px;
    padding-bottom: 40px;
}

.englishfooter1 {
    font-weight: 500;
    font-size: 15px;
    color: #505050;
    text-align: justify;
    padding-top: 40px;
}

.englishfooter2 {
    font-weight: 500;
    font-size: 15px;
    color: #505050;
    padding-top: 10px;
}

.logo {
    max-height: 40px;
}